body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter--list {
  display: flex;
  flex-wrap: wrap;
}

.filter--item {
  margin: 8px;
}

.multibox {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;

  
}

label {
  padding: 12px;
 }

 .cinema--item {
   margin: 32px;
   border: 4px solid black;
 }

 .film--options {
   display: flex;
   flex-wrap: wrap;
 }

 .film--options div {
  margin: 9px;
 }
